<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-role='page'>
    <div class='topBar' data-role='header'>
      Error
    </div>
    <div id='main' data-role='content'>
      There was a problem processing your request. Please return to the main page and attempt it again. <a href = "/">Return To Main Page</a>.
    </div>  
    <div class='error'>
      <%= error.vBoardError %>
    </div>
  </body>
</html>
